#btn-notificaciones-top i {
	color: #FFDB00;
}

.sidebar .nav {
    margin-top: 15px;
		background: #168651;
		background: -webkit-linear-gradient(to left, #193165 , #2585b6);
		background: linear-gradient(to left, #193165, #2585b6);
		color: white;
}

.navbar.navbar-transparent {
    background-color: #EEEEEE;
    box-shadow: none;
    border-bottom: 0;
		border-bottom:  #D2D2D2 solid 1px;
}

.sidebar .sidebar-wrapper {
    position: relative;
    height: 100vh;
    overflow: auto;
    width: 260px;
    z-index: 4;
    padding-bottom: 30px;
		background: #168651;
		background: -webkit-linear-gradient(to left, #193165 , #2585b6);
		background: linear-gradient(to left, #193165, #2585b6);
		color: white;
		padding-top:  0px;
}

.btn.btn-primary,
.btn.btn-primary:hover,
.btn.btn-primary:focus,
.btn.btn-primary:active,
.btn.btn-primary.active,
.btn.btn-primary:active:focus,
.btn.btn-primary:active:hover,
.btn.btn-primary.active:focus,
.btn.btn-primary.active:hover,
.open>.btn.btn-primary.dropdown-toggle,
.open>.btn.btn-primary.dropdown-toggle:focus,
.open>.btn.btn-primary.dropdown-toggle:hover,
.navbar .navbar-nav>li>a.btn.btn-primary,
.navbar .navbar-nav>li>a.btn.btn-primary:hover,
.navbar .navbar-nav>li>a.btn.btn-primary:focus,
.navbar .navbar-nav>li>a.btn.btn-primary:active,
.navbar .navbar-nav>li>a.btn.btn-primary.active,
.navbar .navbar-nav>li>a.btn.btn-primary:active:focus,
.navbar .navbar-nav>li>a.btn.btn-primary:active:hover,
.navbar .navbar-nav>li>a.btn.btn-primary.active:focus,
.navbar .navbar-nav>li>a.btn.btn-primary.active:hover,
.open>.navbar .navbar-nav>li>a.btn.btn-primary.dropdown-toggle,
.open>.navbar .navbar-nav>li>a.btn.btn-primary.dropdown-toggle:focus,
.open>.navbar .navbar-nav>li>a.btn.btn-primary.dropdown-toggle:hover {
    background-color: #397DB8;
    color: #FFFFFF;
}

.btn.btn-primary:focus,
.btn.btn-primary:active,
.btn.btn-primary:hover,
.navbar .navbar-nav>li>a.btn.btn-primary:focus,
.navbar .navbar-nav>li>a.btn.btn-primary:active,
.navbar .navbar-nav>li>a.btn.btn-primary:hover {
    box-shadow: 0 14px 26px -12px rgba(25, 50, 102, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(25, 50, 102, 0.2);
}
