#btn-notificaciones-top i {
	color: #FFDB00;
}

.sidebar .nav {
    margin-top: 15px;
		background-color:  #2c2c2c;
		color: white;
}

.navbar.navbar-transparent {
    background-color: #5AB25E;
		color: rgb(255, 255, 255)
    box-shadow: none;
    border-bottom: 0;
		border-bottom:  #D2D2D2 solid 1px;
}

.navbar,
.navbar.navbar-default {
    background-color: #FFFFFF;
    color: #ffffff;
}

#btn-notificaciones-top {
	background-color:  rgb(198, 49, 49);
	border-radius:  20px;
	color: #ffffff;
	font-weight: 900;
	font-size:  12px;
	-webkit-transition: background-color 0.5s ease-out;
	-moz-transition: background-color 0.5s ease-out;
	-o-transition: background-color 0.5s ease-out;
	transition: background-color 0.5s ease-out;
}

#btn-notificaciones-top:hover {
	background-color: rgb(107, 13, 4)
	color: #ffffff;
}

.sidebar .nav li.active>a,
.sidebar .nav li.active>a i {
  color: rgb(255, 255, 255);
}

.sidebar .nav i {
	color: #5AB25E;
}

.sidebar .sidebar-wrapper {
    position: relative;
    height: 100vh;
    overflow: auto;
    width: 260px;
    z-index: 4;
    padding-bottom: 30px;
		background-color:  #2c2c2c;
		color: white;
		padding-top:  50px;
}

.btn.btn-primary,
.btn.btn-primary:hover,
.btn.btn-primary:focus,
.btn.btn-primary:active,
.btn.btn-primary.active,
.btn.btn-primary:active:focus,
.btn.btn-primary:active:hover,
.btn.btn-primary.active:focus,
.btn.btn-primary.active:hover,
.open>.btn.btn-primary.dropdown-toggle,
.open>.btn.btn-primary.dropdown-toggle:focus,
.open>.btn.btn-primary.dropdown-toggle:hover,
.navbar .navbar-nav>li>a.btn.btn-primary,
.navbar .navbar-nav>li>a.btn.btn-primary:hover,
.navbar .navbar-nav>li>a.btn.btn-primary:focus,
.navbar .navbar-nav>li>a.btn.btn-primary:active,
.navbar .navbar-nav>li>a.btn.btn-primary.active,
.navbar .navbar-nav>li>a.btn.btn-primary:active:focus,
.navbar .navbar-nav>li>a.btn.btn-primary:active:hover,
.navbar .navbar-nav>li>a.btn.btn-primary.active:focus,
.navbar .navbar-nav>li>a.btn.btn-primary.active:hover,
.open>.navbar .navbar-nav>li>a.btn.btn-primary.dropdown-toggle,
.open>.navbar .navbar-nav>li>a.btn.btn-primary.dropdown-toggle:focus,
.open>.navbar .navbar-nav>li>a.btn.btn-primary.dropdown-toggle:hover {
    background-color: #397DB8;
    color: #FFFFFF;
}

.btn.btn-primary:focus,
.btn.btn-primary:active,
.btn.btn-primary:hover,
.navbar .navbar-nav>li>a.btn.btn-primary:focus,
.navbar .navbar-nav>li>a.btn.btn-primary:active,
.navbar .navbar-nav>li>a.btn.btn-primary:hover {
    box-shadow: 0 14px 26px -12px rgba(25, 50, 102, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(25, 50, 102, 0.2);
}
