@media only screen and (min-width : 150px) {
body{ font-size: 12px;}
.fondo-login,
.fondo-registro {
	padding:  20px 20px 20px 20px;
}
.logo-header {
	border-bottom: #ffffff solid 1px;
	padding-bottom:  10px;
	margin-bottom:  10px;
}
.logo-header img { max-width:  100px; max-height:  auto;}

h1 {text-shadow: 1px 2px 0 transparent,2px 2px 0 rgba(0,0,0,0.15); margin-bottom: 10px; font-size:  18px;}

.subtitulo-header {
	letter-spacing:  5px;
	font-weight: 100;
	font-size: 10px;
}
.contenedor-registro,
.contenedor-registro2 {
	padding: 15px;
}
.titulo-input {
	text-align: center;
	font-size: 12px;
}
.input--chisato { padding-top:  10px;}
.texto-cuenta {font-size: 10px; margin-top:  10px; padding-top: 10px; border-top:  white solid 1px;}

.btn-login {
	font-size:  14px;
	padding: 5px;
	background-color:  #ffdb00;
	font-weight:  900;
	text-align: center;
}
.titulo-checkbox {
	padding: 10px 0px;
	min-height:  50px;
}
.perfil-movil img {max-width: 100px; max-height: auto;}
.contenedor-input {margin-bottom:  0px;}
.margen-registro-movil { margin-bottom:  15px;}

/* Menu Top */
#btn-notificaciones-top {
	border-radius:  10px;
	font-size:  10px;
	margin-left:  10px;
	margin-right:  10px;
	padding:  3px 20px;
	margin-top:  10px;
}
input[type=search] {
	width: 100%;
	font-size: 14px;
	margin-top:  0px;
}
#btn-agregar-proyecto-top { padding: 4px 5px;}
.titulo-top {text-align: center;}
.titulo-secccion { font-size:  18px; padding-bottom:  5px; margin-bottom:  20px; text-align: center}
.btn-top {
	font-size:  12px;
	text-align: center;
	margin-top:  0px;
}
.fondo-proyecto-dashboard {
	padding: 10px;
	border-radius:  10px;
}
.titulo-proyecto {
	font-size: 16px;
	padding-bottom:  0px;
}
.margen-agencias-movil {
	margin-bottom:  30px;
}
#perfil-proyecto {
	margin-bottom: 10px;
	max-width:  15px;
}
.contenedor-menu-top { padding: 0px 0px;}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4,
.col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7,
.col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11,
.col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  padding-right: 5px;
  padding-left: 5px;
}
.bienvenida-titulo {
	padding: 5px;
	font-size: 16px;
	margin-bottom:  10px;
}
#titulo-form { color: #2584B5; text-align: left;}
.form-dashboard {padding: 20px;}
.btn-form-proyecto {
	padding:  5px 10px;
	margin-top: 10px;
	float: right;
	font-size:16px;
	width:  100%;
}

/* Sección agencias */
.contenedor-buscador-agencias { padding: 0px 0px;}
.iconos-agencias-top {
	text-align: center;
	margin-top:  20px;
	border-top:  #DCDCDC solid 1px;
}
.iconos-agencias-top { border-left:  #dcdcdc solid 0px;}
.iconos-favoritos-agencias{
	padding: 0px;
	margin-top:  10px;
	text-align: center;
}
.iconos-favoritos-agencias i {font-size:  18px;}
.iconos-agencias-top i {
	font-size:  22px;
	margin-bottom:  5px;
}
.texto-datos-agencia {font-size: 10px;}
.titulo-mostrar-agencias {
	padding:  10px;
	margin-top:  10px;
}
.img-texto span {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 999;
	color: #FFDB00;
	font-size: 8px;
	text-align: center;
}
.margen-buscador-movil {margin-bottom:  15px;}
.btn-filtros-movil {
	padding:  5px 50px;
	margin-top:  10px;
	margin-bottom:  10px;
	font-size:  10px;
}
.titulo-busqueda-movil {
	margin-top:  0px;
	font-size:  11px;
}
.contenedor-sidebar-agencias {padding: 10px;}
.nombre-agencias {font-size:  14px;}
.excelente,
.bueno,
.cuestionable,
.pausado {
	padding: 3px 5px;
}
#filtros {padding: 0px;}
.iconos-calificacion-agencias {font-size: 18px;}
.bold-menu-agencias {font-size:  10px;}
.sidebar .nav p {
  line-height: 16px;
  font-size: 12px;
  margin-left: 25px;
	color: white;
}
.sidebar .nav i {
  font-size: 14px;
  line-height: 14px;
	color: white;
}
.logo img {
	max-width:  100px;
}
input[type=search] {
	background: #ededed url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
	border: solid 0px #ccc;
	padding: 5px 10px 5px 32px;
	color: #585858;
	font-size: 10px;
	-webkit-border-radius: 10em;
	-moz-border-radius: 10em;
	border-radius: 10em;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
	margin-top:  0px;
}
.logo-movil img {
	max-width:  70px;
	max-height:  auto;
	text-align: center;
	float: none;
}
.titulo-agencia {
	text-align: center;
	font-size: 18px;
}
.borde-img-agencia img {
	max-width:  100px;
	max-height: auto;
}
.contenedor-descripcion-agencia2 {border-left: #5CB85C solid 0px; text-align: center;}
.titulo-servicios {text-align: center;text-transform:  uppercase;}
.porcentaje-agencia {
	font-size:  14px;
	text-align: center;
}
.margen-img-agencia {margin-top:  0px;}
.texto-borde-agencia {
	padding:  10px;
	text-align: center;
}
#btn-agencia-top {width: 100%;}
.contenedor-descripcion-agencia3 {padding: 5px;}
.contenedor-descripcion-agencia3 i {font-size:  18px;}
.margen-movil-servicios {padding:  0px 0px;}
.margen-calificaciones-movil {margin-bottom:  30px;}
.texto-proyecto-activo {font-size: 12px;}
.texto-proyecto-activo b {font-size: 12px;}
.margen-proyecto-movil {margin-bottom:  30px;}

.margen-btns-proyectos {
	font-size:  10px;
}
.datos-proyectos { border-right: #DCDCDC solid 0px;}

.texto-small-proyecto {
	font-size:  10px;
	text-align: center;
}
.porcentaje-proyecto {
	margin-top: 0px;
}
.datos-proyectos b {
	font-size: 14px;
}
.margen-botones-proyecto-movil {
	margin-top:  20px;
}
.porcentaje-proyecto {
	font-size:28px;
}

.main-header .logo {
  height: auto;
}

.nav > li > a {
    font-size: 12px;
}

.content-wrapper {
  padding: 10px;
}

.buscador-movil {
	padding:  10px 0px;
}

.indicaciones-progreso {
	padding: 10px 0px;
	font-size:  10px;
	text-align: center;
}

.margen-agencias-tableta {
	margin-bottom:  30px;
}

#btn-agencia-top {
	font-size:  10px;
}

.widget-user .box-footer {
  padding-top: 0px;
}

.description-block {
  text-align: center;
  font-size:  10px;
}

.buscador-favoritos {
	font-size: 10px;
	margin-top: 15px;
	padding:  5px;
	background-color:  #5CB85C;
	border-radius:  5px;
	color: white;
}

.buscador-favoritos i {
	color: red;
	font-size:  16px;
}

.navbar-brand {
    float: right;
    height: 50px;
    padding: 15px 15px;
    font-size: 10px;
    line-height: 20px;
}
.btn-agencias-dashboard {
	text-align: center;
	margin-top:  0px;
}
.titulo-agencias-dashboard {
	text-align:center;
	margin-bottom: 10px;
}
.margen-newsfeed-movil {
	margin-bottom: 20px;
}
.card-stats .card-header i {
    font-size: 18px;
    line-height: 30px;
    width: 30px;
    height: 30px;
}
.card .category:not([class*="text-"]) {
    color: #999999;
    font-size: 10px;
}
.card-stats .card-content {
	margin-top: 15px;
	line-height: 1;
}
.imagen-agencias img {
	max-width: auto;
	max-height:auto;
}
.panel .panel-heading {
    padding: 0px 0px 0px 0px;
}
.nombre-historial {
	text-align: center;
}
.botones-ajustes {
	padding: 20px 0px;
	text-align:center;
}

.sidebar .user {
  padding-bottom: 0px;
  margin: 0px auto 0;
  position: relative;
}

iframe {
 min-width: 100%;
 height: 200px;
}

.card .card-content {
    padding: 5px 10px;
    position: relative;
}

.sidebar .user .photo img {
  max-width:  auto;
}



}


@media only screen and (min-width : 480px) {
body{font-size: 14px;}
.contenedor-registro,
.contenedor-registro2 {padding: 50px;}
.texto-cuenta {font-size: 12px;}
.btn-filtros-movil {
	padding:  5px 30px;
	margin-top:  15px;
	margin-bottom:  15px;
	font-size:  12px;
}
.excelente,
.bueno,
.cuestionable,
.pausado {
	padding: 3px 20px;
}

.nav > li > a {
    font-size: 12px;
}



}


@media only screen and (min-width : 768px) {
.fondo-login,
.fondo-registro {
	padding:  20px 0px 0px 0px;
}
.logo-header img { max-width:  200px; max-height:  auto;}
h1 { font-size:  36px; text-shadow: 4px 3px 0 transparent,5px 6px 0 rgba(0,0,0,0.15);}
.titulo-input {
	text-align: left;
	font-size: 18px;
}
.input--chisato {padding-top:  15px;}
.titulo-checkbox {padding: 10px 0px;}
.btn-login {
	font-size:  16px;
	padding: 10px;
}
.titulo-checkbox {min-height:  auto;}
.contenedor-input {margin-bottom:  20px;}
.margen-registro-movil {margin-bottom:  0px;}

/* Menu Top */
.titulo-top {text-align: left;}
.btn-top { text-align: right; margin-top:  7px;}
.titulo-secccion { font-size:  22px; margin-bottom:  30px; padding-bottom:  0px; text-align: left;}
#perfil-proyecto {
	margin-bottom: 20px;
	max-width:  20px;
}
.contenedor-menu-top { padding: 10px 0px;}
.bienvenida-titulo {
	padding: 5px;
	font-size: 22px;
	margin-bottom:  15px;
}
.btn-form-proyecto {
	padding:  5px 30px;
	margin-top: 20px;
	float: right;
	font-size:22px;
	width: auto;
}

/* Sección agencias */
.iconos-agencias-top {
	text-align: left;
	margin-top:  0px;
}
.iconos-favoritos-agencias{
	background-color: transparent;
	padding: 5px;
	margin-top:  0px;
}
.iconos-favoritos-agencias i {font-size:  18px;}
.iconos-agencias-top {
	border-top:  #DCDCDC solid 0px;
}
.contenedor-listado-agencias {
	border-radius:  20px;
	padding:  30px;
}
.iconos-agencias-top i {
	font-size:  28px;
	margin-bottom:  10px;
}
.texto-datos-agencia {font-size: 12px;}
.titulo-mostrar-agencias {
	padding:  20px;
	margin-top:  15px;
}
.img-texto span {
	font-size: 10px;
	text-align: right;
}
.titulo-busqueda-movil {
	margin-top:  20px;
	font-size:  14px;
}
.btn-filtros-movil {width: 100%;}
.contenedor-sidebar-agencias {padding: 20px;}
.logo-movil img {max-width:  100px;}
.titulo-agencia {
	text-align: left;
	font-size: 16px;
}
.borde-img-agencia img {
	max-width:  100%;
	max-height: auto;
}
.contenedor-descripcion-agencia2 {border-left: #5CB85C solid 0px; text-align: left;}
.titulo-servicios {text-align: left;text-transform:  uppercase;}
.texto-borde-agencia {
	padding:  20px;
	text-align: justify;
}
#btn-agencia-top {width: auto;}
.contenedor-descripcion-agencia3 {padding: 5px;}
.contenedor-descripcion-agencia3 i {font-size:  18px;}
.margen-calificaciones-movil {margin-bottom:  0px;}
.margen-proyecto-movil {margin-bottom:  0px;}

.margen-btns-proyectos {
	font-size:  12px;
}
.datos-proyectos { border-right: #DCDCDC solid 1px;}
.texto-small-proyecto {
	font-size:  12px;
	text-align: left;
}
.porcentaje-proyecto {
	margin-top: 10px;
}
.datos-proyectos b {
	font-size: 16px;
}
.margen-botones-proyecto-movil {
	margin-top:  0px;
}

.main-header .logo {
  height: 50px;
}

.nav > li > a {
    padding: 10px 15px;
}

.nav > li > a {
    font-size: 12px;
}

.content-wrapper {
  padding: 20px;
}

input[type=search] {
	margin-top:  15px;
	font-size: 8px;
}

#btn-notificaciones-top {
	padding:  3px 10px;
	margin-top:  10px;
}

.indicaciones-progreso {
	padding: 10px 0px;
	font-size:  12px;
	text-align: left;
}

.btn-agencias-dashboard {
	text-align: right;
	margin-top:  0px;
}
.titulo-agencias-dashboard {
	text-align:left;
	margin-bottom: 0px;
}
.margen-newsfeed-movil {
	margin-bottom: 0px;
}
.imagen-agencias img {
	max-width: 80px;
	max-height:auto;
}

.nombre-historial {
	text-align: left;
}
.botones-ajustes {
	padding: 20px 0px;
	text-align:right;
}

iframe {
 min-width: 100%;
 height: 420px;
}

.card .card-content {
    padding: 15px 20px;
    position: relative;
}

.sidebar .user .photo img {
  max-width:  130px;
  text-align: center;
}

.sidebar .user .photo img {
  max-width:  35%;
  text-align: center;
}






}



@media only screen and (min-width : 992px) {
.subtitulo-header {
	letter-spacing:  10px;
	font-size: 12px;
}
.texto-cuenta {font-size: 16px; margin-top:  10px; padding-top: 10px; border-top:  white solid 1px;}
.perfil-movil img {max-width: 100%; max-height: auto;}
.fondo-proyecto-dashboard {
	padding: 10px;
	border-radius:  20px;
}
.titulo-proyecto {
	font-size: 14px;
	padding-bottom:  10px;
}

#filtros {padding: 10px 0px;}
.bold-menu-agencias {font-size:  14px;}
.sidebar .nav p {
  line-height: 30px;
  font-size: 15px;
  margin-left: 45px;
	font-weight:  900;
	color: white;
}
.sidebar .nav i {
  font-size: 28px;
  line-height: 30px;
	color:  white;
	text-shadow: 2px 2px 0 transparent,7px 6px 0 rgba(0,0,0,0.15);
}
.titulo-agencia {
	text-align: left;
	font-size: 26px;
	padding:  10px;
}
.porcentaje-agencia {
	font-size:  22px;
	text-align: left;
}
.texto-proyecto-activo { font-size: 12px;}
.texto-proyecto-activo b { font-size: 12px;}

#btn-notificaciones-top {
	padding:  3px 20px;
	margin-top:  10px;
}
input[type=search] {
	margin-top:  10px;
	font-size: 12px;
}

#btn-agencia-top {
	font-size:  9px;
}



}



@media only screen and (min-width : 1030px) {
/* Menu Top */
#perfil-proyecto {
	margin-bottom: 0px;
	max-width:  20px;
}




@media only screen and (min-width : 1200px) {
input[type=search] {
	width: 250px;
	font-size: 12px;
	margin-top:  10px;
}
#btn-agregar-proyecto-top { padding: 4px 20px;}
.titulo-top {text-align: left;}
.btn-top {
	font-size:  12px;
	text-align: right;
	margin-top:  15px;
}
.titulo-secccion {
	font-size:  22px;
	padding-bottom: 10px;
	margin-bottom: 20px;
}
.titulo-proyecto {
	font-size: 16px;
}
/* Sección agencias */
.img-texto span { font-size: 12px;}
.nombre-agencias { font-size:  14px;}
.porcentaje-agencia {font-size:  22px;}

.logo img {
	border: #2377A8 solid 0px;
	max-width:  100px;
}

#btn-agencia-top {
	font-size:  12px;
}

.widget-user .box-footer {
  padding-top: 20px;
}

.description-block {
  text-align: center;
  font-size:  10px;
}

.sidebar .user {
    padding-bottom: 0px;
    margin: 20px auto 0;
    position: relative;
}







}



@media only screen and (min-width : 1300px) {
    /* Menu Top */
    #perfil-proyecto {margin-bottom: 0px;}
    /* Sección agencias */
    .texto-datos-agencia {font-size: 14px;}
    .iconos-calificacion-agencias {font-size: 26px;}
    .porcentaje-agencia {font-size:  28px;}

    .porcentaje-proyecto {
            font-size:50px;
    }

    .navbar-brand {
        font-size: 18px;
    }


    .card-stats .card-header i {
        font-size: 30px;
        line-height: 56px;
        width: 56px;
        height: 56px;
    }

    .card .category:not([class*="text-"]) {
        color: #999999;
        font-size: 14px;
    }

    .card-stats .card-content {
        text-align: left;
            line-height: 1;
    }
}