/* Estilos Generales */
body{ font-family: 'Lato', sans-serif; font-size: 14px; font-weight: normal; color: #383838; background-color: #ffffff;}
p {margin: 0 0 0px;}
.background-cover {background-repeat:no-repeat;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;background-repeat:no-repeat;}
a {-webkit-transition: color 0.2s ease-out;-moz-transition: color 0.2s ease-out;-o-transition: color 0.2s ease-out;transition: color 0.2s ease-out;}
a:hover {text-decoration:none;cursor: pointer;}
.monserrat {font-family: 'Montserrat', sans-serif;}

button {
	-webkit-transition: background-color 0.5s ease-out;
	-moz-transition: background-color 0.5s ease-out;
	-o-transition: background-color 0.5s ease-out;
	transition: background-color 0.5s ease-out;
	cursor: pointer;
}
button:hover {text-decoration:none; cursor: pointer;}

.padding0 {padding-left: 0;padding-right: 0}
.padding2020{padding: 20px 0px;}
.padding5050{padding: 50px 0px;}
.texto-comprimido {letter-spacing: -1px;}
.font-bold {font-weight: 900;}
.font-light {font-weight: 100;}

.bordes-redondeados {
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	border: 0px solid #000000;
}

h1, .h1, h2, .h2, h3, .h3 { margin-top: 0px; margin-bottom: 0px;}

.full-img img { width:  100%;}

.texto-blanco {color: #ffffff;}
.texto-rojo {color: #D4293F;}
.texto-morado {color: #8665CA;}
.texto-amarillo {color: #F39C12;}
.texto-gris {color: #848484;}
.texto-verde {color: #5CB85C;}
.texto-azul {color: #00C0EF;}
.fondo-blanco {background-color: #ffffff;}
.fondo-gris-soft {background-color: #F4F4F4;}

.fondo-gradient-gris {
	background: red;
	background: -webkit-linear-gradient(to bottom, #F4F4F4 , #dadada);
	background: linear-gradient(to bottom, #F4F4F4, #dadada);
}

/* Estilos Index */
.fondo-login {
	background-image:url(../img/fondo-header.jpg);
	background-position: center center;
	background-repeat:no-repeat;
	height: 100vh;
}

.fondo-registro {
	background-image:url(../img/fondo-header2.jpg);
	background-position: center center;
	background-repeat:no-repeat;
}

.contenedor-registro {
  background-color: rgba(255, 255, 255, 0.2);
  background: rgba(255, 255, 255, 0.2);
  color: rgba(255, 255, 255, 0.2);
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	border: 0px solid #000000;
}

.contenedor-registro2 {
  background-color: rgba(121, 15, 18, 0.6);
  background: rgba(121, 15, 18, 0.6);
  color: rgba(121, 15, 18, 0.6);
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	border: 0px solid #000000;
}

.btn-login {
	-webkit-transition: background-color 0.5s ease-out;
	-moz-transition: background-color 0.5s ease-out;
	-o-transition: background-color 0.5s ease-out;
	transition: background-color 0.5s ease-out;
	cursor: pointer;
}

.btn-login a:hover { color: white;}
.btn-login:hover {background-color:  #D4293F; color: #ffffff;}
.contenedor-redes-ingresar {padding: 5px;}

.fondo-facebook {
	background: #3b5998;
	background: -moz-radial-gradient(center, ellipse cover, #3b5998 12%, #0f3c96 100%);
	background: -webkit-radial-gradient(center, ellipse cover, #3b5998 12%,#0f3c96 100%);
	background: radial-gradient(ellipse at center, #3b5998 12%,#0f3c96 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b5998', endColorstr='#0f3c96',GradientType=1 );
}

.fondo-google {
	background: #dc4d40;
	background: -moz-radial-gradient(center, ellipse cover, #dc4d40 12%, #db1608 100%);
	background: -webkit-radial-gradient(center, ellipse cover, #dc4d40 12%,#db1608 100%);
	background: radial-gradient(ellipse at center, #dc4d40 12%,#db1608 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dc4d40', endColorstr='#db1608',GradientType=1 );
}

.fondo-twitter {
	background: #1da1f2;
	background: -moz-radial-gradient(center, ellipse cover, #1da1f2 12%, #0250f7 100%);
	background: -webkit-radial-gradient(center, ellipse cover, #1da1f2 12%,#0250f7 100%);
	background: radial-gradient(ellipse at center, #1da1f2 12%,#0250f7 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1da1f2', endColorstr='#0250f7',GradientType=1 );
}

.fondo-facebook,
.fondo-google,
.fondo-twitter {
	padding: 5px;
	color: #ffffff;
	font-size: 24px;
	text-align: center;
	-webkit-transition: border-bottom 0.5s ease-out;
	-moz-transition: border-bottom 0.5s ease-out;
	-o-transition: border-bottom 0.5s ease-out;
	transition: border-bottom 0.5s ease-out;
	border-bottom:  transparent solid 10px;
}

.fondo-facebook:hover,
.fondo-google:hover,
.fondo-twitter:hover {
	color: rgba(255, 219, 0, 0.9);
	border-bottom:  #FFDB00 solid 5px;
}

.texto-cuenta a { text-decoration:none; color: #ffffff;}
.texto-cuenta a:hover {color: red; underline; color: #FEC92E;}
.texto-cuenta i { color: #FEC92E; font-size:  22px;}

.badgebox{opacity: 0;}
.badgebox + .badge{text-indent: -999999px;}
.badgebox:focus + .badge{ box-shadow: inset 0px 0px 5px;}
.badgebox:checked + .badge{text-indent: 0;}
.badge {
    display: inline-block;
    font-size: 10px;
    font-weight: bold;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    background-color: #084B92;
    border-radius: 10px;
		margin-left:  10px;
}

.form-dashboard {
	border:  #CCCCCC solid 1px;
	border-radius:  10px;
}

/* Estilos Modales */
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
    background: rgba(11, 30, 63, 0.6);
}

.loginmodal-container {
  padding: 20px;
  width: 100% !important;
  background-color: #F7F7F7;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.logo img {
	max-height: auto;
	margin-bottom:  5px;
}

.nombre-area { font-weight:  800; text-transform: uppercase;}

.nombre-usuario {
	font-weight: 100;
	text-transform: uppercase;
}

.nombre-area,
.nombre-usuario {
	font-size:  12px;
	line-height: 0.6;
	text-align: left;
}

.img-marca-top { max-width: 100px; max-height:  auto;}

.titulo-input { color: #ffffff; text-transform: uppercase;}

#btn-agregar-proyecto-top {
	background-color:  #FFDB00;
	border-radius:  20px;
	color: #000000;
	font-weight: 900;
	font-size:  12px;
	margin-top:  10px;
	-webkit-transition: background-color 0.5s ease-out;
	-moz-transition: background-color 0.5s ease-out;
	-o-transition: background-color 0.5s ease-out;
	transition: background-color 0.5s ease-out;
}

#btn-agregar-proyecto-top:hover { background-color:  #D4293F; color: #ffffff;}

#btn-agregar-proyecto-top i {font-size: 16px;}

#btn-notificaciones-top {
	background-color:  #397DB8;
	border-radius:  20px;
	color: #ffffff;
	font-weight: 900;
	font-size:  12px;
	-webkit-transition: background-color 0.5s ease-out;
	-moz-transition: background-color 0.5s ease-out;
	-o-transition: background-color 0.5s ease-out;
	transition: background-color 0.5s ease-out;
}

#btn-notificaciones-top:hover {
	background-color:  #021A74;
	color: #ffffff;
}

#btn-notificaciones-top i {
	font-size:  12px;
}

.img-bandera-top {
	max-width:  50px;
	max-height:  auto;
	margin-top:  20px;
}

.contenedor-contenido {padding:  50px;}

.titulo-secccion {
	font-weight: 900;
	border-bottom:  #CCCCCC solid 1px;
}

.titulo-proyecto {
	font-weight:  900;
	letter-spacing: -1px;
	text-align: center;
	text-shadow: 0px 0px 0 transparent,0px 0px 0 rgba(0,0,0,0.15); margin-bottom: 0px;
	margin-top:  0px;
}

.titulo-proyecto-img {
	font-weight:  900;
	letter-spacing: -1px;
	text-align: center;
	text-shadow: 0px 0px 0 transparent,0px 0px 0 rgba(0,0,0,0.15); margin-bottom: 0px;
	margin-top:  0px;
}

.btn-top {text-align: right;}
.form-horizontal .control-label {
  padding-top: 7x;
  margin-bottom: 0;
  text-align: left;
}

#notificaciones { background-color: #FFDB00; color: #2c2c2c;}
#notificaciones-top { background-color: #5CB85C; color: #ffffff;}

.btn-top {
	color: #333333;
	text-decoration: underline;
}

.btn-top i { color: #2584B5;}
.btn-top:hover {color: #2584B5;}

.skill {color: #ffffff;font-weight:  900;}
.navbar-nav > li.open > .dropdown-menu, .dropdown.open .dropdown-menu {background-color: #f4f4f4;}

.contenido-notificaciones {
	overflow: scroll;
	max-width:  auto;
	max-height:  250px;
	width: 300px;
	color: #333333;
}

.contenedor-notififcaciones-individuales-leido {
	border-left: #2584B5 solid 5px;
	padding:  10px;
	margin-bottom:  10px;
	-webkit-transition: background-color 0.5s ease-out;
	-moz-transition: background-color 0.5s ease-out;
	-o-transition: background-color 0.5s ease-out;
	transition: background-color 0.5s ease-out;
}

.contenedor-notififcaciones-individuales-leido:hover { background-color: #2584B5; text-decoration: none;}
.contenedor-notififcaciones-individuales-leido a:hover { background-color: #2584B5; text-decoration: none;}

.contenedor-notififcaciones-individuales-noleido {
	border-left: #bdbdbd solid 5px;
	padding:  10px;
	margin-bottom:  10px;
	-webkit-transition: background-color 0.5s ease-out;
	-moz-transition: background-color 0.5s ease-out;
	-o-transition: background-color 0.5s ease-out;
	transition: background-color 0.5s ease-out;
}

.contenedor-notififcaciones-individuales-noleido:hover { background-color: #bdbdbd; text-decoration: none;}
.contenedor-notififcaciones-individuales-noleido a:hover { background-color: #bdbdbd; text-decoration: none;}

.notificacion-tiempo {text-align: right; color: black; font-size: 10px;}
.notificacion-texto {text-align: left; color: #333333; padding-bottom: 10px;}
.notificacion-texto:hover {color:#ffffff; text-decoration: none;}
.notificacion-btn {background-color:  #333333; color: #ffffff; text-align: center; text-transform: uppercase; border-radius:  10px; padding: 5px; font-size: 10px;}
.notificacion-btn:hover {background-color: #2584B5;}

.bienvenida-titulo {
	background-color: #2584B5;
	color: #ffffff;
	text-transform: uppercase;
	font-weight:  900;
}

.btn-form-proyecto {
	background-color: #2584B5;
	border:  0px;
	border-radius:  20px;
	color: #ffffff;
	text-align: center;
}

.btn-form-proyecto i {color: yellow;}
.btn-form-proyecto:hover {background-color: #193367;}
.form-horizontal .form-group { margin-right: 0px; margin-left: 0px;}

/* Estilos Sección Agencia */
.borde-img-agencia img { border-bottom:  #2585B6 solid 5px;}

.titulo-agencia {
	font-weight:  900;
	letter-spacing: -1px;
	text-shadow: 0px 0px 0 transparent,0px 0px 0 rgba(0,0,0,0.15); margin-bottom: 0px;
	margin-top:  0px;
	margin-bottom:  10px;
	padding-bottom:  10px;
	border-bottom: #DCDCDC solid 1px;
}

.contenedor-descripcion-agencia {
	border: #dcdcdc solid 1px;
	border-radius:  20px;
	padding: 5px 15px;
}

.porcentaje-agencia {
	font-weight:  900;
	border-bottom: #dcdcdc solid 1px;
}

.contenedor-descripcion-agencia3 {
	background-color: #2584B5;
	text-align: center;
	color: #ffffff;
	border-radius:  20px;
}

.contenedor-descripcion-agencia3 i {
	text-align: center;
	margin-bottom:  10px;
	-webkit-transition: color 0.5s ease-out;
	-moz-transition: color 0.5s ease-out;
	-o-transition: color 0.5s ease-out;
	transition: color 0.5s ease-out;
}

#btn-agencia-top {
	background: #193266;
	border: #ffffff solid 1px;
	color: #ffffff;
	margin-top:  20px;
}

#btn-agencia-top:hover {background:  #193266;color: #ffffff;}

.stuff {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.btn-enviar-brief {
	background-color: #2584B5;
	color: #ffffff;
	font-size:  8px;
}

.stepwizard-step p {margin-top: 10px;}
.stepwizard-row {display: table-row;}
.stepwizard {display: table;width: 100%;position: relative;}
.stepwizard-step button[disabled] {opacity: 1 !important;filter: alpha(opacity=100) !important;}
.stepwizard-row:before {
    top: 14px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #ccc;
    z-order: 0;
}
.stepwizard-step {display: table-cell;text-align: center;position: relative;}

.btn-pasos { background-color: red;}

.icon-crear-proyecto {
	background: #168651;
	background: -webkit-linear-gradient(to left, #193165 , #2585b6);
	background: linear-gradient(to left, #193165, #2585b6);
	padding: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
}

/* Custom Code Here */
.check input {display: none;}

.check input:checked + label .box {
  -webkit-animation: animOn 0.8s 1 forwards;
          animation: animOn 0.8s 1 forwards;
  background: rgba(0, 0, 0, 0.5);
}

.check input:checked + label .box i {
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  opacity: 1;
}

.check label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  min-height: auto;
  cursor: pointer;
	padding:  5px 0px;
	float: left;
	text-align:left;
}

.check label .box {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  position: relative;
  width: 20px;
  height: 20px;
  -webkit-transition: background 300ms ease;
  transition: background 300ms ease;
	margin-right:  10px;
}

.check label .box:hover { background: rgba(0, 0, 0, 0.5);}

.check label .box i {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 14px;
  display: inline-block;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-transition-delay: 200ms;
          transition-delay: 200ms;
  -webkit-transform: translate(-50%, -50%) scale(6);
          transform: translate(-50%, -50%) scale(6);
}

.titulo-checkbox {
	color: #ffffff;
	font-size:  12px;
	font-weight: 100;
}

input[type=search] {
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	font-family: inherit;
	font-size: 100%;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
	display: none;
}

input[type=search]:focus {
	width: 350px;
	background-color: #d6d6d6;
	color: #333333;
	border-color: #66CC75;
	-webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
	-moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
	box-shadow: 0 0 5px rgba(109,207,246,.5);
}

input:-moz-placeholder {color: #999;}

input::-webkit-input-placeholder {olor: #999;}

.fondo-proyecto-dashboard {
	background-color:  #F5F5F5;
	-webkit-box-shadow: 3px 3px 2px 0px rgba(0,0,0,0.10);
	-moz-box-shadow: 3px 3px 2px 0px rgba(0,0,0,0.10);
	box-shadow: 3px 3px 2px 0px rgba(0,0,0,0.10);
}

.img-modal-registro img { max-width:  100px; min-height: auto;}

.fondo-agencia-1 {
	background-color:  #F5F5F5;
	padding: 20px;
	border-radius:  30px;
	-webkit-box-shadow: 3px 3px 2px 0px rgba(0,0,0,0.10);
	-moz-box-shadow: 3px 3px 2px 0px rgba(0,0,0,0.10);
	box-shadow: 3px 3px 2px 0px rgba(0,0,0,0.10);
	margin-bottom:  20px;
}

.fondo-agencia-2 {
	background-color:  #F5F5F5;
	padding: 20px;
	border-radius:  30px;
	-webkit-box-shadow: 3px 3px 2px 0px rgba(0,0,0,0.10);
	-moz-box-shadow: 3px 3px 2px 0px rgba(0,0,0,0.10);
	box-shadow: 3px 3px 2px 0px rgba(0,0,0,0.10);
	margin-top:  20px;
}

.calificaciones-agencia,
.calificaciones-agencia2 {
	padding:  0px 30px;
	border-radius:  10px;
	color:  white;
	font-size:  22px;
	margin-top:  10px;
	margin-bottom:  10px;
}

.calificaciones-agencia {background-color:  #8665CA;}
.calificaciones-agencia2 {background-color: #2584B5;}

.calificaciones-agencia i,
.calificaciones-agencia2 i  {
	color: #E5CC1C;
}

.bold-agencia b {color: #2584B5;font-size:  16px;}

.dirección-mapa {
	background-color:  #8665CA;
	border-radius:  20px;
	text-align: center;
	color:  white;
	padding: 10px;
	margin-top:  20px;
	margin-bottom: 30px;
}

.titulo-mostrar-agencias {
	background-color: #F5F5F5;
	font-weight:  900;
	border-left: #5CB85C solid 5px;
}

.contenedor-listado-agencias {
	border:  #DCDCDC solid 1px;
	margin-top:  10px;
	margin-bottom:  10px;
	-webkit-transition: background-color 1s ease-out;
	-moz-transition: background-color 1s ease-out;
	-o-transition: background-color 1s ease-out;
	transition: background-color 1s ease-out;
	color: #333333;
	padding: 20px;
}

.contenedor-listado-agencias:hover {background-color:  #F5F5F5;color: #2C2C2C;}

.contenedor-sidebar-agencias {
	background: #168651;
	background: -webkit-linear-gradient(to left, #193165 , #2585b6);
	background: linear-gradient(to left, #193165, #2585b6);
}

#well {
    padding: 0px;
    margin-bottom: 20px;
    background-color: transparent;
    border: 0px solid #e3e3e3;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
		color: white;
}

.img-agencias img { padding:  10px;}

.certificado-agencia {
	color:  #8665CA;
	font-weight:  900;
}

.img-texto,
.img-bandera-perfil,
.img-perfil-proyecto,
.icono-bandera-lateral {position: relative;}

.img-bandera-perfil span,
.img-perfil-proyecto span {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 999;
	color: #FFDB00;
	font-size: 14px;
	text-align: right;
}

.icono-bandera-lateral span {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 999;
	text-align: center;
	margin-top:  -10px;
}

.img-texto span {
	padding: 15px 10px;
}

.img-bandera-agencia img {
	max-width:  20px;
	max-height: auto;
	text-align: right;
	margin-bottom:  60px;
}

.icono-bandera-lateral img {
	max-width:  20px;
	max-height: auto;
	margin-bottom:  0px;
}

.img-bandera-perfil {
	padding: 0px;;
	background: transparent;
	margin-bottom:  10px;
}

#bandera-perfil {
	border: 0px;
	max-width:  25px;
	max-height:  auto;
	margin-bottom: -5px;
}

.img-perfil-proyecto {
	padding: 0px;;
	background: transparent;
	margin-bottom:  10px;
}

.imagen-perfil-dashbard {
	width:  auto;
	height: 170px;
}

.imagenes-historial img {
	width:  auto;
	height: 170px;
}

.fondo-proyecto-dashboard {
	-webkit-transition: border 0.5s ease-out;
	-moz-transition: border 0.5s ease-out;
	-o-transition: border 0.5s ease-out;
	transition: border 0.5s ease-out;
	border: transparent solid 5px;
}

.fondo-proyecto-dashboard:hover{
	border: #CCCCCC solid 5px;
	cursor: pointer;
}

#perfil-proyecto {
	border: 0px;
	max-height:  auto;
	float: right;
}

#icono-lateral {
	border: 0px;
	max-height:  auto;
	margin-bottom: 5px;
	text-align: right;
	float: right;
}

.nombre-agencias {
	color: #5CB85C;
	font-weight:  900;
}

.iconos-agencias-top {
	color: #2c2c2c;
	font-weight:  900;
}

.iconos-agencias-top i {
	text-shadow: 4px 3px 0 transparent,5px 6px 0 rgba(0,0,0,0.15);
}

.btn-lateral-agencia {
	background-color: #5CB85C;
	border:  0px;
	color: #ffffff;
	width: 100%;
}

.btn-lateral-agencia:hover {
	background-color: #FFDB00;
	color: #000000;
}

.limpiar-filtros {
	text-align: right;
	color: #ffffff;
	padding:  5px 0px;
	margin-top:  10px;
	margin-bottom:  10px;
	font-size: 12px;
}

.limpiar-filtros a { color: #ffffff;}

.limpiar-filtros a:hover { color: #ffffff;}

.excelente,
.bueno,
.cuestionable,
.pausado {
	border-radius: 10px;
	color: white;
}

.excelente {background-color: #5CB85C;}
.bueno {background-color: rgba(0,0,255,1);}
.cuestionable{background-color: #CC0000}
.pausado {background-color: orange;}

.btn-menu-tab-agencia {
	background-color: red;
	border:  0px;
	color: #ffffff;
	font-size:16px;
	width: 100%;
}

.btn-menu-tab-agencia:hover {
	background-color: #FFDB00;
	color: #000000;
}

.favorito-agencia {
	color: red;
	background-color: transparent;
	-webkit-transition: color 0.5s ease-out;
	-moz-transition: color 0.5s ease-out;
	-o-transition: color 0.5s ease-out;
	transition: color 0.5s ease-out;
}

.favorito-agencia i:hover {color: rgba(204,0,0,1);}

.favorito-mas {
	color: #5CB85C;
	background-color: transparent;
	-webkit-transition: color 0.5s ease-out;
	-moz-transition: color 0.5s ease-out;
	-o-transition: color 0.5s ease-out;
	transition: color 0.5s ease-out;
}

.favorito-mas i:hover {color: rgba(0,102,51,1)}

.arrow-agencias {
	color: #9E9E9E;
	font-size: 44px;
}

.arrow-agencias i:hover {color: #2C2C2C; font-size: 38px;}

.icono-activo {color: #FF9800;}
.icono-inactivo {color: #6D6D6D;}

.bold-menu-agencias {
	padding: 5px 0px;
	border-bottom:  yellow solid 1px;
	margin-bottom:  10px;
}

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    font-size: 14px;
    line-height: 1.42857143;
    background-color: transparent;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.complete > span {
  background-color: #5CB85C;
  background-image: linear-gradient(to bottom, #5CB85C, #5CB85C);
}

.inprogress > span {
  background-color: #f9bb35;
  background-image: linear-gradient(to bottom, #f9bb35, #f9bb35);
}

.start > span {
  background-color: #2C2C2C;
  background-image: linear-gradient(to bottom, #2C2C2C, #2C2C2C);
}

label {
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 700;
	text-align: left;
	float: left;
}

.buscador-agencias { margin-top: 15px;}

.img-agencias img { margin-top: 20px; width: 100%;}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.contenedor-listado-proyectos {
	border:  #DCDCDC solid 1px;
	border-radius:  30px;
	padding:  20px 0px;
	margin-top:  10px;
	margin-bottom:  30px;
	color: #333333;
	font-size: 16px;
	background-color:  #F5F5F5;
}

.contenedor-listado-proyectos img {
	max-width: 150px;
	max-height: auto;
}

.btn-propuestas-proyectos {background-color: #2585B6;color: white;}
.btn-propuestas-proyectos:hover {background-color: #FFDB00;color: white;}
.btn-propuestas-editar {background-color: #4E60B8; color:white;}
.btn-propuestas-editar:hover {background-color: #FFDB00;color: white;}
.btn-propuestas-juntas {background-color: #5CB85C; color:white;}
.btn-propuestas-juntas:hover {background-color: #2585B6;color: white;}

.margen-btns-proyectos { margin-bottom: 15px;}

.basura-proyectos {
	color: gray;
	background-color: transparent;
	-webkit-transition: color 0.5s ease-out;
	-moz-transition: color 0.5s ease-out;
	-o-transition: color 0.5s ease-out;
	transition: color 0.5s ease-out;
	font-size:  22px;
}

.basura-proyectos i{
	padding:  0px 10px;
}

.basura-proyectos i:hover {color: rgba(204,0,0,1);}

.datos-proyectos b {
	color: #237AAB;
	font-weight: 900;
}

.porcentaje-proyecto {
	font-weight: 900;
	letter-spacing: -1px;
	text-align:center;
	text-shadow: 4px 3px 0 transparent,4px 3px 0 rgba(0,0,0,0.15);
	border: #DCDCDC solid 3px;
	border-radius: 10px;
	color:#237AAB;
}

.porcentaje-proyecto sup {
	font-size:18px;
	color:#FFDB00;
	text-shadow: 0px 0px 0 transparent,0px 0px 0 rgba(0,0,0,0.15);
	padding-left: 5px;
}

.rechazo-proyecto {
	color: rgba(204,0,0,1);
	background-color: transparent;
	-webkit-transition: color 0.5s ease-out;
	-moz-transition: color 0.5s ease-out;
	-o-transition: color 0.5s ease-out;
	transition: color 0.5s ease-out;
}

.rechazo-proyecto i:hover {color: rgba(0,102,51,1)}

.aceptado-proyecto {
	color: rgba(102,102,102,1);
	background-color: transparent;
	-webkit-transition: color 0.5s ease-out;
	-moz-transition: color 0.5s ease-out;
	-o-transition: color 0.5s ease-out;
	transition: color 0.5s ease-out;
}

.aceptado-proyecto i:hover {color: rgba(0,102,51,1)}

.btn-editar-proyecto {
	background-color: #D4293F;
	padding: 2px;
	color: white;
	margin-top: 10px;
	font-size: 12px;
	-webkit-transition: background-color 0.5s ease-out;
	-moz-transition: background-color 0.5s ease-out;
	-o-transition: background-color 0.5s ease-out;
	transition: background-color 0.5s ease-out;
	border-top: #CCCCCC solid 2px;
}

.btn-editar-proyecto:hover {
	background-color: rgba(153,0,0,1);
	text-decoration: none;
}

.flecha-texto-activo { font-size: 22px;}

.texto-proyecto-activo {
	padding: 10px 0px;
	border-top: #CCCCCC solid 1px;
	margin-top:  10px;
	font-weight:  800;
}

.texto-proyecto-activo b {
	color: #2c2c2c;
}

.texto-proyecto-participantes {
	background-color: #5CB85C;
	padding: 5px;
	font-size: 10px;
	color:white;
	border-top: #D4293F solid 2px;
}

.texto-proyecto-participantes b {font-size: 12px;}

.btn-propuesta-agencias,
.btn-propuesta-proceso {
	padding: 5px;
	font-size: 11px;
	border-radius: 10px;
	-webkit-transition: background-color 0.5s ease-out;
	-moz-transition: background-color 0.5s ease-out;
	-o-transition: background-color 0.5s ease-out;
	transition: background-color 0.5s ease-out;
	font-weight: 900;
	text-align:center;
	border: #DCDCDC solid 1px;
}

.btn-propuesta-agencias {background-color: #FFF;color:#5CB85C;}
.btn-propuesta-agencias:hover {background-color: #337AB7;color: white;}
.btn-propuesta-proceso {background-color: #D4293F;color:white;}
.btn-propuesta-agencias:hover {background-color: #337AB7;color: white;}

.btn-rechazar-agencia-rechazar,
.btn-rechazar-agencia-invitar {
	border: #DCDCDC  solid 1px;
	padding: 5px;
	font-size:  11px;
	border-radius:  10px;
	color: #2583B4;
	-webkit-transition: background-color 0.5s ease-out;
	-moz-transition: background-color 0.5s ease-out;
	-o-transition: background-color 0.5s ease-out;
	transition: background-color 0.5s ease-out;
	font-weight:  900;
}

.btn-rechazar-agencia-rechazar:hover,
.btn-rechazar-agencia-invitar:hover {
	background-color:  #193266;
	color: white;
}

.btn-rechazar-agencia-invitar i {color: #FFDB00;font-size:  18px;}

.btn-rechazar-agencia-rechazar i {color: #D4293F;font-size:  18px;}

.contenedor-btn-rechazar {
	padding:  10px 0px;
}

.contenedor-btn-rechazar2 {
	padding:  10px 0px;
}

.btn-rechazar-agencia-agradecer,
.btn-rechazar-agencia-ganador {
	border: #4696BF  solid 1px;
	padding: 5px;
	font-size:  11px;
	border-radius:  10px;
	color: #2583B4;
	-webkit-transition: background-color 0.5s ease-out;
	-moz-transition: background-color 0.5s ease-out;
	-o-transition: background-color 0.5s ease-out;
	transition: background-color 0.5s ease-out;
	font-weight:  900;
}

.btn-rechazar-agencia-agradecer i {color: #5CB85C;font-size:  18px;}
.btn-rechazar-agencia-ganador i {color: #5CB85C;font-size:  18px;}

.btn-rechazar-agencia-agradecer:hover,
.btn-rechazar-agencia-ganador:hover {
	background-color:  #193266;
	color: white;
}

.texto-proyecto-fechas {
	padding: 10px 0px;
	font-size:  12px;
	margin-top:  10px;
	background: #F5F5F5;;
	background: -webkit-linear-gradient(to left, #193165 , #2585b6);
	background: linear-gradient(to left, #193165, #2585b6);
  background-color: rgba(0, 0, 0, 0);
	color: #ffffff;
	font-weight:  900;
}

.texto-proyecto-fechas a {color: #ffffff;text-decoration: underline;}
.texto-proyecto-fechas a:hover {color: #FFDB00;}

.contenedor-propuestas {
	font-size:  18px;
	font-weight:  900;
	color: #237AAB;
}

.icono-propuestas {
	font-size:  40px;
	text-align: center;
	color: #5CB85C;
	text-shadow: 3px 2px 0 transparent,6px 5px 0 rgba(0,0,0,0.15);
}

.texto-historial i {color: #2584B5;}

.imagen-historial img {
	max-width:  150px;
	max-height:  auto;
}

.nombre-historial {
	color: #5CB85C;
	font-size:  18px;
	font-weight:  900;
	margin-bottom:  10px;
}

.img-historial,
.img-historial2 {
		position: relative;
		-webkit-transition: background-color 0.5s ease-out;
		-moz-transition: background-color 0.5s ease-out;
		-o-transition: background-color 0.5s ease-out;
		transition: background-color 0.5s ease-out;
}

.img-historial span,
.img-historial2 span {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 999;
	font-size: 12px;
	text-align: right;
}

.img-historial span{color: #5CB85C;}
.img-historial2 span{color: #D1273C;}

.img-historial,
.img-historial2:hover {
	background-color: #DCDCDC;
}

.bloque-filtros {margin-bottom:  10px;}

.fecha-historial {
	color: #5CB85C;
	font-weight:  900;
	letter-spacing: -1px;
	font-size:  24px;
}

.item,
.item2,
.item3 {
  position: relative;
  margin: 15px;
  padding: 10px 40px;
}

.item > span,
.item2 > span,
.item3 > span {
  position: absolute;
  width: 40px;
  height: 40px;
  font-size: 20px;
  text-align: center;
  line-height: 40px;
  border-radius: 100%;
  left: -20px;
  top: 0;
}

.item > span {color: white;background: #2583B4;}
.item2 > span {color: white;background: #1F5D8F;}
.item3 > span {color: white;background: #193266;}

.fecha-timeline {
	color:  #2C2C2C;
	font-weight:  900;
	font-size:  18px;
}

.contenedor-fechas {
	color: #909090;
	border: #DCDCDC solid 1px;
	padding: 10px;
}

.documentos-historial {padding:  20px;font-size:  10px;}

.documentos-historial i {
	text-shadow: 3px 2px 0 transparent,6px 5px 0 rgba(0,0,0,0.15);
	font-size:  22px;
	margin-bottom:  10px;
}

.titulo-table-facturacion {
	background-color: #2C2C2C;
	font-size:  18px;
	color: white
}

.iconos-facturacion i {
	color:  #D4293F;
	font-size:  24px;
	padding: 0px 10px;
}

.iconos-facturacion i:hover {color: #2C2C2C;}

#tabs-facturacion {font-size:  44px;}

.autor {
	font-size: 10px;
	line-height: 1;
}
.autor a {font-size: 16px; color:#1A386C;}
.autor a:hover {color: #E2CC16;}

/*Panel tabs*/
.with-nav-tabs.panel-primary .nav-tabs > li > a,
.with-nav-tabs.panel-primary .nav-tabs > li > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li > a:focus {
    color: #fff;
	font-size: 10px;
	font-weight: 900;
	text-transform:uppercase;
}
.with-nav-tabs.panel-primary .nav-tabs > .open > a,
.with-nav-tabs.panel-primary .nav-tabs > .open > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > .open > a:focus,
.with-nav-tabs.panel-primary .nav-tabs > li > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li > a:focus {
	color: #fff;
	background-color: #3071a9;
	border-color: transparent;
}
.with-nav-tabs.panel-primary .nav-tabs > li.active > a,
.with-nav-tabs.panel-primary .nav-tabs > li.active > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li.active > a:focus {
	color: white;
	background-color: #d4293f;
	border-color: #428bca;
	opacity:1;
	border-bottom-color: transparent;
}
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu {
    background-color: #428bca;
    border-color: #3071a9;
}
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > li > a {
    color: #fff;
}
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > li > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > li > a:focus {
    background-color: #3071a9;
}
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > .active > a,
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > .active > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > .active > a:focus {
    background-color: #4a9fe9;
}

.contenedor-buscador-facturas {
	padding: 20px;
	margin-bottom:  20px;
}

.contenedor-tarjetas-banco {
	padding: 10px;
	background-color: #2C2C2C;
	color: white;
	margin-bottom:  15px;
	font-size:  26px;
	font-weight:  900;
}

.iconos-tarjetas-banco {
	text-align: right;
}

.texto-borde-agencia {
	background-color:  #F5F5F5;
	margin-bottom: 10px;
}

.menu-lateral {
	font-size:  10px;
	padding: 0px;
}

.contenedor-filtros-movil {
	padding: 10px;
	color: white;
	font-size:  14px;
	font-weight:  900;
	margin-top:  20px;
	margin-bottom:  20px;
}

.btn-filtros-movil {
	background-color:  transparent;
	border: white solid 1px;
}

.contenedor-desplegable-movil {
	background-color:  transparent;
}

.contenedor-buscador-agencias {
	font-size:  10px;
	margin-top:  -20px;
}

#calendario-dashboard {
	background-color:  #2C2C2C;
	color: #ffffff;
	padding:  20px;
}

.titulo-calendario {
	border-bottom:  white solid 1px;
	margin-bottom:  15px;
	padding-bottom:  15px;
}

.img-agencia-perfil {
	padding: 10px;
	border-radius:  10px;
}

.img-agencia-perfil img {
	max-width:  100px;
	max-height:  auto;
}

.nombre-agencia-perfil {
	margin-top:  5px;
}

.progreso-top {
	padding: 0px 10px;
}

#progress-bar {
    height: 20px;
    margin-bottom: 0px;
    overflow: hidden;
    background-color: #CCCCCC;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
}

.contenedor-agencias-dashboard {
	padding: 20px;
	border: #F5F5F5 solid 5px;
	border-radius:  10px;
}

.contenedor-titulo-agencias-dashboard {
	border-bottom:  #F5F5F5 solid 1px;
	margin-bottom:  10px;
	padding-bottom:  10px;
	font-size:  16px;
	font-weight:  900;
	color: #397DB8;
}

.texto-agencias-dashboard {
	color: #2c2c2c;
}

.icono-favorito {
	color: red;
}

.img-dashboard-newsfeed {
	max-height: 200px;
}

.panel .panel-heading {
    background-color: transparent;
    border-bottom: 0px solid #ddd;
}

.contenedor-filtros-desplegable {
	background-color:  #EEEEEE;
	padding: 20px;
}

.select-agencias {
	border-bottom:  #CCCCCC solid 1px;
}

.menu-filtros {s
	margin-bottom:  10px;
	padding-bottom:  10px;
}

.titulo-certificacion {
	text-align: left;
}

.titulo-estrellas {
	margin-top: 10px;
}

.titulo-estrellas,
.titulo-certificacion {
	font-weight:  400;
	color: #4E5968;
	text-transform: uppercase;
	font-size: 10px;
}

.iconos-ranking i {
	text-shadow: 0px 0px 0 transparent,0px 0px 0 rgba(0,0,0,0.15);
}

#btn-favoritos {
	background-color:  #CC0000;
	width: 100%;
}

#btn-enviar-brief {
	background-color:  #5CB85C;
	width: 100%;
}

#btn-borrar-filtros {
	background-color: #397DB8;
	width: auto;
	margin-top: 20px;
}

#btn-ver-agencia {
	background-color:  #9E9E9E;
	width: 100%;
}

#btn-favoritos {
	background-color: rgb(114, 24, 136);
	width: 100%;
}

#btn-proyecto-propuestas {
	background-color:  #2585B6;
	width: 100%;
}

#btn-proyecto-informacion {
	background-color:  #4E60B8;
	width: 100%;
}

#btn-proyecto-juntas {
	background-color:  #2C2C2C;
	width: 100%;
}

.margen-btn-proyecto-eliminar {
	margin-bottom:  10px;
}

.contenedor-nuevo-proyecto-dashboard {
	margin-bottom:  20px;
}

.datos-proyecto {
	margin-bottom:  30px;
}

.links-newsfeed {
	border: white solid 1px;
	-webkit-transition: border 0.5s ease-out;
	-moz-transition: border 0.5s ease-out;
	-o-transition: border 0.5s ease-out;
	transition: border 0.5s ease-out;
}

.links-newsfeed:hover {
	border: #CCCCCC solid 1px;
}

.checkbox .checkbox-material .check {
    width: 20px;
    height: 20px;
}

.checkbox-radios {
	padding-left: 0px;
	padding-right: 0px;
}

.contenedor-facturas  {
	padding: 0px 30px;
}

#btn-notificaciones-top-movil {
	background-color:  white;
	color: #2B81B0;
	text-align: center;
}

#btn-notificaciones-top-movil i {
	color: #FEDA32;
	text-align: center;
}

.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
    cursor: not-allowed;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: 1;
}

.modal-registro b {
	color: #D4293F;
	font-size:  16px;
	letter-spacing: -1px;
	font-weight:  900;
	line-height:  1;
}

.modal-registro small {
	color: #6f6f6f;
	font-size: 10px;
}

.margen-btn-agregar {
	margin-top:  30px;
	padding-top:  10px;
}

.titulo-registro-modal {
	padding-bottom:  20px;
}

.texto-tabla-registro {
	color: #397DB8;
	font-size:  14px;
	text-transform:  uppercase;
}

.btn-registro-modal li{
	font-size:  5px;
	color: red;
	padding: 0px;
}

.invitacion-modal-registro {
	background-color:  #397DB8;
	padding:  10px;
	color:  white;
}

.fancy-checkbox input[type="checkbox"],
.fancy-checkbox .checked {
    display: none;
}

.fancy-checkbox input[type="checkbox"]:checked ~ .checked{
    display: inline-block;
}

.fancy-checkbox input[type="checkbox"]:checked ~ .unchecked{
    display: none;
}

.icono-favoritos i {
	font-size:  22px;
	color: rgb(114, 24, 136);
	margin-top:  5px;
}

.icono-favoritos-check i {
	font-size: 18px;
	color: rgb(114, 24, 136);
	margin-top: 3px;
	margin-left: 0px;
	margin-right:  15px;
}

.contenedor-footer {
	background:  #EEEEEE;
}

.margen-checkbox {
	margin-left:  10px;
	margin-right: 10px;
}

.margen-estrellas-agencias {
	margin-top:  10px;
}

#btn-filtros {
	text-align: right;
	color: #DCDCDC;
	margin-top:  5px;
}

#btn-filtros a {
	color: #555555;
}

#wrap {
  display: inline-block;
  position: relative;
  height: 0px;
  float: right;
  padding: 0;
  position: relative;
	color: #555555;
	margin-top:  12px;
}

#wrap-filtros {
  display: inline-block;
  position: relative;
  height: 0px;
  float: right;
  padding: 0;
  position: relative;
	color: #555555;
	margin-top:  6px;
}

#buscador input[type="text"] {
  font-size: 12px;
  display: inline-block;
  border: none;
  outline: none;
  color: #555555;
  padding: 3px;
  padding-right: 60px;
  width: 0px;
  position: absolute;
  top: 0;
  right: 0;
  background: none;
  z-index: 3;
  transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
  cursor: pointer;
}

#buscador input[type="text"]:focus:hover {
  border-bottom: 1px solid #BBB;
}

#buscador input[type="text"]:focus {
  width: 200px;
  z-index: 1;
  border-bottom: 1px solid #BBB;
  cursor: text;
}

#buscador input[type="submit"] {
  height: 20px;
  width: 20px;
  display: inline-block;
  color:#555555;
  float: right;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAMAAABg3Am1AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADNQTFRFU1NT9fX1lJSUXl5e1dXVfn5+c3Nz6urqv7+/tLS0iYmJqampn5+fysrK39/faWlp////Vi4ZywAAABF0Uk5T/////////////////////wAlrZliAAABLklEQVR42rSWWRbDIAhFHeOUtN3/ags1zaA4cHrKZ8JFRHwoXkwTvwGP1Qo0bYObAPwiLmbNAHBWFBZlD9j0JxflDViIObNHG/Do8PRHTJk0TezAhv7qloK0JJEBh+F8+U/hopIELOWfiZUCDOZD1RADOQKA75oq4cvVkcT+OdHnqqpQCITWAjnWVgGQUWz12lJuGwGoaWgBKzRVBcCypgUkOAoWgBX/L0CmxN40u6xwcIJ1cOzWYDffp3axsQOyvdkXiH9FKRFwPRHYZUaXMgPLeiW7QhbDRciyLXJaKheCuLbiVoqx1DVRyH26yb0hsuoOFEPsoz+BVE0MRlZNjGZcRQyHYkmMp2hBTIzdkzCTc/pLqOnBrk7/yZdAOq/q5NPBH1f7x7fGP4C3AAMAQrhzX9zhcGsAAAAASUVORK5CYII=) center center no-repeat;
  text-indent: -10000px;
  border: none;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  cursor: pointer;
  opacity: 0.4;
  cursor: pointer;
  transition: opacity .4s ease;
}

#buscador input[type="submit"]:hover {
  opacity: 0.8;
}

#btn-seleccionar-agencias {
	text-align: left;
	float: right;
}

.margen-seleccionar-agencias {
	margin-top:  5px;
}

.categorias-agencia {
	border: #555555 solid 1px;
	background-color:  transparent;
	color: #555555;
	line-height: 3;
	-webkit-transition: background-color 0.5s ease-out;
	-moz-transition: background-color 0.5s ease-out;
	-o-transition: background-color 0.5s ease-out;
	transition: background-color 0.5s ease-out;
}

.categorias-agencia:hover {
	background-color:  #555555;
	color:  white;
}

#buscador-top {
	margin-top:  5px;
	color: red;
}

.margen-tabs {
	padding-bottom:  30px;
}

.logo-modales img {
	max-width:  200px;
	max-height: auto;
}

.titulo-modal {
	padding:  20px 0px;
	color: #D4293F;
	text-align: center;
}

.titulo-modal b {
	font-size:  18px;
	color:  #3474B2;
}

.subtitulo-modal {
	padding:  0px 0px;
	color:  #898989;
	text-align: left;
	margin-top:  20px;
	text-align: left;
}

.subtitulo-modal small {
	color: #989898;
}

.icono-personalizacion i {
	text-align: center;
	font-size: 60px;
	color: #FF9800;
}

.fondo-proyecto-dashboard img {
	width: 50%;
height: auto;
}

.margen-btn-login {
	margin-bottom:  20px;
}






















.conversation-wrap
{
		box-shadow: -2px 0 3px #ddd;
		padding:0;
		max-height: 400px;
		overflow: auto;
}
.conversation
{
		padding:5px;
		border-bottom:1px solid #ddd;
		margin:0;

}

.message-wrap
{
		box-shadow: 0 0 3px #ddd;
		padding:0;

}
.msg
{
		padding:5px;
		/*border-bottom:1px solid #ddd;*/
		margin:0;
}
.msg-wrap
{
		padding:10px;
		max-height: 400px;
		overflow: auto;

}

.time
{
		color:#bfbfbf;
}

.send-wrap
{
		border-top: 1px solid #eee;
		border-bottom: 1px solid #eee;
		padding:10px;
		/*background: #f8f8f8;*/
}

.send-message
{
		resize: none;
}

.highlight
{
		background-color: #f7f7f9;
		border: 1px solid #e1e1e8;
}

.send-message-btn
{
		border-top-left-radius: 0;
		border-top-right-radius: 0;
		border-bottom-left-radius: 0;

		border-bottom-right-radius: 0;
}
.btn-panel
{
		background: #f7f7f9;
}

.btn-panel .btn
{
		color:#b8b8b8;

		transition: 0.2s all ease-in-out;
}

.btn-panel .btn:hover
{
		color:#666;
		background: #f8f8f8;
}
.btn-panel .btn:active
{
		background: #f8f8f8;
		box-shadow: 0 0 1px #ddd;
}

.btn-panel-conversation .btn,.btn-panel-msg .btn
{

		background: #f8f8f8;
}
.btn-panel-conversation .btn:first-child
{
		border-right: 1px solid #ddd;
}

.msg-wrap .media-heading
{
		color:#003bb3;
		font-weight: 700;
}


.msg-date
{
		background: none;
		text-align: center;
		color:#aaa;
		border:none;
		box-shadow: none;
		border-bottom: 1px solid #ddd;
}









ul.nav-wizard {
  background-color: #f1f1f1;
  border: 1px solid #d4d4d4;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 3px;
  position: relative;
  overflow: hidden;
}
ul.nav-wizard:before {
  position: absolute;
}
ul.nav-wizard:after {
  display: block;
  position: absolute;
  left: 0px;
  right: 0px;
  top: 138px;
  height: 47px;
  border-top: 1px solid #d4d4d4;
  border-bottom: 1px solid #d4d4d4;
  z-index: 11;
  content: " ";
}
ul.nav-wizard li {
  position: relative;
  float: left;
  height: 46px;
  display: inline-block;
  text-align: center;
  padding: 0 20px 0 30px;
  margin: 0;
  font-size: 16px;
  line-height: 46px;
}
ul.nav-wizard li a {
  color: #428bca;
	font-weight:  900;
  padding: 0;
}
ul.nav-wizard li a:hover {
  background-color: transparent;
}
ul.nav-wizard li:before {
  position: absolute;
  display: block;
  border: 24px solid transparent;
  border-left: 16px solid #d4d4d4;
  border-right: 0;
  top: -1px;
  z-index: 10;
  content: '';
  right: -16px;
}
ul.nav-wizard li:after {
  position: absolute;
  display: block;
  border: 24px solid transparent;
  border-left: 16px solid #f1f1f1;
  border-right: 0;
  top: -1px;
  z-index: 10;
  content: '';
  right: -15px;
}
ul.nav-wizard li.active {
  color: #3a87ad;
  background: #dedede;
}
ul.nav-wizard li.active:after {
  border-left: 16px solid #dedede;
}
ul.nav-wizard li.active a,
ul.nav-wizard li.active a:active,
ul.nav-wizard li.active a:visited,
ul.nav-wizard li.active a:focus {
  color: #989898;
  background: #dedede;
}
ul.nav-wizard .active ~ li {
  color: #999999;
  background: #f9f9f9;
}
ul.nav-wizard .active ~ li:after {
  border-left: 16px solid #f9f9f9;
}
ul.nav-wizard .active ~ li a,
ul.nav-wizard .active ~ li a:active,
ul.nav-wizard .active ~ li a:visited,
ul.nav-wizard .active ~ li a:focus {
  color: #999999;
  background: #f9f9f9;
}
ul.nav-wizard.nav-wizard-backnav li:hover {
  color: #468847;
  background: #f6fbfd;
}
ul.nav-wizard.nav-wizard-backnav li:hover:after {
  border-left: 16px solid #f6fbfd;
}
ul.nav-wizard.nav-wizard-backnav li:hover a,
ul.nav-wizard.nav-wizard-backnav li:hover a:active,
ul.nav-wizard.nav-wizard-backnav li:hover a:visited,
ul.nav-wizard.nav-wizard-backnav li:hover a:focus {
  color: #468847;
  background: #f6fbfd;
}
ul.nav-wizard.nav-wizard-backnav .active ~ li {
  color: #999999;
  background: #ededed;
}
ul.nav-wizard.nav-wizard-backnav .active ~ li:after {
  border-left: 16px solid #ededed;
}
ul.nav-wizard.nav-wizard-backnav .active ~ li a,
ul.nav-wizard.nav-wizard-backnav .active ~ li a:active,
ul.nav-wizard.nav-wizard-backnav .active ~ li a:visited,
ul.nav-wizard.nav-wizard-backnav .active ~ li a:focus {
  color: #999999;
  background: #ededed;
}

.mensaje-felicidades {
	background-color:  #5CB85C;
	padding: 20px;
	margin-bottom:  20px;
	color:  white;
	text-align: center;
	font-size: 18px;
}

.mensaje-rechazo {
	padding: 10px;
	text-align: center;
	border: #DCDCDC solid 1px;
	margin-top:  10px;
	-webkit-transition: background-color 0.5s ease-out;
	-moz-transition: background-color 0.5s ease-out;
	-o-transition: background-color 0.5s ease-out;
	transition: background-color 0.5s ease-out;
}

.mensaje-rechazo i {
	color: #08B1C6;
}

.mensaje-rechazo:hover {
	background-color:  #397DB8;
	color:  white;
}

.mensaje-rechazo a{
	color:  #9E9E9E;
}

.mensaje-rechazo a:hover {
	color:  white;
}

.border-lateral {
	border-right:  #CCCCCC solid 1px;
}

.calificacion-historial {
	text-align: center;
	font-size:  22px;
	color: #D4293F;
	line-height: 0.9;
	border:  #DCDCDC solid 1px;
	padding: 15px;
	border-radius: 10px;
	margin-top:  5px;
}

.calificacion-historial b {
	font-size:  12px;
	color: #555555;
}

.btns-perfil {
	padding:  10px 0px;
	border-top: #D2D2D2 solid 1px;
	margin-top:  10px;
}

.contenedor-gant {
	min-height: 430px;
}

.imagen-icono-top img {
	max-width:  35px;
	margin-top:  -10px;
	border-radius: 50%;
}

.btn-subir-img {
	width: 100%;
	background: #168651;
	background: -webkit-linear-gradient(to left, #193165 , #2585b6);
	background: linear-gradient(to left, #193165, #2585b6);
}

.btn-reacomodo-fechas {
	background-color: #05B0C5;
}

.instrucciones-subir-logo {
	margin-top:  20px;
	font-size:  18px;
}

.instrucciones-subir-logo b {
	color: #397DB8;
}

.margen-tajeta-proyecto {
	margin-bottom:  50px;
}

.citas-textuales {
	font-size:  22px;
	color:  gray;
}

.user-header img  {
	max-width:  100px;
	max-height: auto;
	border-radius:50%;
}

.carousel-indicators .active{
	background: #31708f;
}

.content{ margin-top:20px; }
.adjust1{ float:left; width:100%; margin-bottom:0; text-align: center;}
.adjust2{ margin:0; }
.carousel-indicators li{ border :1px solid #ccc; }
.carousel-control{ color:#31708f; width:5%; }
.carousel-control:hover,
.carousel-control:focus{ color:#31708f; }
.carousel-control.left, .carousel-control.right { background-image: none; }
.media-object{ margin:auto; margin-top:5%; }
@media screen and (max-width: 768px) {
.media-object{ margin-top:0; } }


.foto-login img {
	max-width: 40px;
	max-height:  auto;
}

.foto-login {
	max-width: 40px;
	max-height:  auto;
}

/* carousel */
#quote-carousel {
  padding: 0 10px 30px 10px;
  margin-top: 30px;
  text-align:center;
}
/* indicator position */
#quote-carousel .carousel-indicators {
  right: 50%;
  top: auto;
  bottom: -10px;
  margin-right: -19px;
}
/* indicator color */
#quote-carousel .carousel-indicators li {
  background: #c0c0c0;
}
/* active indicator */
#quote-carousel .carousel-indicators .active {
  background: #333333;
  height:10px;
  width:10px;
  margin-bottom:1px;
}

.img-testimoniales img {
	max-width: 30px;
	max-height:  auto;
}

.contenedor-imagenes-footer {
	height: 100px;
}

.logo-agencia {
	max-width:  20%;
}

.bancos img {
	max-width:  20%;
}

.btn-comentarios {
	text-align: center;
	margin-top:  30px;
	background-color:  red;
}


@charset "UTF-8";
@import url(https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css);
.stars li::before, .stars li.active::before, .stars li.active ~ li::before, .stars li:hover::before, .stars li:hover ~ li::before {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-decoration: inherit;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  white-space: nowrap;
  word-wrap: normal;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
  vertical-align: middle;
}

.wrap {
  display: inline-block;
  width: 100%;
  text-align: left;
}

.stars {
  unicode-bidi: bidi-override;
  direction: rtl;
  display: inline-block;
  text-align: left;
}
.stars li {
  cursor: pointer;
  display: block;
  float: right;
  padding: 0 0.375rem;
  display: inline-block;
  font-size: 28px;
  color: #c3c3c3;
}
.stars li::before {
  content: "";
}
.stars li.active, .stars li.active ~ li, .stars li:hover, .stars li:hover ~ li {
  color: #f0b111;
}
.stars li.active::before, .stars li.active ~ li::before, .stars li:hover::before, .stars li:hover ~ li::before {
  content: "";
}

.imagen-agencias-particioantes {
	max-width:  30%
}

.modal-header {
    min-height: 16.43px;
    padding: 15px;
    border-bottom: 0px solid #e5e5e5;
}






@media only screen and (min-width : 150px) {
}

@media only screen and (min-width : 480px) {
}

@media only screen and (min-width : 768px) {
}

@media only screen and (min-width : 992px) {
}

@media only screen and (min-width : 1200px) {
}
