.loading i {

    animation: rotate .7s infinite linear;

    -webkit-animation: rotate2 .7s infinite linear;

}

.flexigrid .dropdown-menu{
    position:inherit !important;
    width:100% !important;
}



@-webkit-keyframes rotate2 {

    from { -webkit-transform: rotate(0deg);}

    to { -webkit-transform: rotate(360deg);}

}



@keyframes rotate {

    from { transform: scale(1) rotate(0deg);}

    to { transform: scale(1) rotate(360deg);}

}



.pagination li{

    cursor:pointer;

}

.field-sorting{
    cursor:pointer;
}
@media screen and (min-width:768px){
    .pageContent{
        text-align: right;
    }
}

@media screen and (max-width:768px){
    .pageContent{
        text-align: center;
    }
}

.fileinput-button{
    width:100%;
}
